# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
.venv/
venv/

# Conda
.env
.env.*

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# Data
data/raw/*
data/interim/*
data/processed/*
!data/**/.gitkeep

# Models
models/*
!models/.gitkeep

# Reports
reports/figures/*
reports/tables/*
!reports/**/.gitkeep
